<div class='container'>
  <div class='text-center'>
    <h1>3 Ways to Implement Date Picker in Rails 6.0</h1>
    <p>Lets look at 3 ways to implement date picker in Rails 6.0</p>
    <p>For details, read the associated blog post at <a href='https://internetmango.com/blog/implementing-datepicker-in-rails'>Internet Mango Blog</a>.</p>
  </div>
</div>

<hr />

<section class='mt-5'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Default date_field in Rails</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <%= link_to 'View Example', default_datepicker_pages_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bootstrap Datepicker</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <%= link_to 'View Example', bootstrap_datepicker_pages_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tempus Dominus Datepicker</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

            <%= link_to 'View Example', tempus_dominus_pages_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
